@import "partials/_variables";
@import "partials/_setup";
@import "partials/_typography";
@import "partials/_mixins";
@import "partials/angled-edges";

// * {border: 1px solid red;}
body {
	overflow-x: hidden;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapperHeader {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.wrapperIntro {
	max-width: 1170px;
	margin: 0 auto;
	height: 150px;
}

.wrapperPortfolio {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapperSkills {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapperContact {
	max-width: 1170px;
	margin: 0 auto;
}



.mainNavigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	z-index: 999;
	width: 1170px;
}

.mainNavigation__logo {
	color: white;
	p {
		font-family: $primaryFont;
		font-weight: 100;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	span {
		font-weight: 700;
	}
}

.mainNavigation__links {
	ul {
		display: flex;
		justify-content: flex-end;
		li {
			list-style: none;
			color: white;
			display: flex;
			padding-right: 50px;
			font-family: $primaryFont;
			font-weight: 100;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 3px;
			&:last-child {
				padding-right: 0;
			}
		}	
	}
}





// 	Hero Section

.heroSection {
	background: url(../../assets/HackeUGiddy-edited-small.jpg);
	background-size: contain;
	background-position: top left;
	background-repeat: no-repeat;
}

.heroSection__triangle {
	width: 100%;	
	// background: red;
}

.st0{fill:#FFFFFF;}
.st1{fill:#EFEFEF;}
.st2{font-family:'Georgia-Bold';}
.st3{font-size:541.8076px;}
.st4{clip-path:url(#SVGID_2_);}
.st5{fill:#077793;}
.st6{fill:#0A6F87;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#0A6F87;}
























// .heroSection {
// 	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 59%);
// 	clip-path: polygon(0 0, 100% 0%, 100% 92%, 0 59%);
// 	height: 1800px;
// 	background:linear-gradient(to bottom right,rgba(7, 119, 147,0.9),rgba(7, 119, 147,0.9)), url('../../assets/mockup-863469_1280.jpg');
// 	background-size: cover;
// 	background-position: bottom right;
// }

// .heroSection__top {
// 	height: 100%;
// 	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 59%);
// 	clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 59%);
// 	position: relative;
// 	background:linear-gradient(to bottom right,rgba(37, 36, 46 , 0),rgba(37, 36, 46 , 0)), url('../../assets/HackeUGiddy.jpg');
// 	background-size: contain;
// 	background-position: top;
// }

.heroSection__snippetBio {
	color: red;
	position: absolute;
	width: 400px;
	top: 335px;
	right: 0px;
	z-index: 10;
	h1{
		span {
			color: white;
		}
		padding-bottom: 18px;
	}
	h5 {
		letter-spacing: 2px;
	}
}

.introductionText {
	position: relative;
	text-align: center;
	color: white;
	z-index: 15;
	bottom: 886px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	h5 {
		padding: 15px 0 5px 0;
		letter-spacing: 4px;
	}
	h6 {
		letter-spacing: 3px;
	}
	p {
		padding: 10px 0 40px 0;
		letter-spacing: 3px;
		line-height: 150%;
	}
	h3 {
		padding-top: 30px;
	}
	a {
		margin-top: 40px;
	}
}

.introductionText__keyline {
	border-bottom: 1px solid white;
	width: 30px;
	margin: 0 auto;
	padding-top: 5px;
}

.line-arrow {
	overflow: hidden;
	display: inline-block;
	font-size: 12px;
	width: 4em;
	height: 4em;
	margin-top: -2em;
	top: 50%;
}

.line-arrow.down {
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	transform: rotate(-145deg) skew(-20deg);
}








// Portfolio Section

.portfolio__introText {
	z-index: 99;
	text-align: center;
	position: relative;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 170px;
	h2 {
		font-size: 80px;
		font-weight: 300;
	}
	h4 {
		font-weight: 100;
		letter-spacing: 4px;
		text-transform: uppercase;
		padding-bottom: 10px;
	}

}

// Universal Portfolio Elements
.portfolio__keyline {
	border-bottom: 1px solid $colorBlueDark;
	width: 30px;
	margin: 0 auto;
	padding-top: 5px;
}

.portfolioItems__previewButton {
	background: $colorGold;
	color: $colorBlueDark;
	text-decoration: none;
	padding: 10px 20px;
	font-family: $primaryFont;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.portfolioItems__github {
	font-family: $primaryFont;
	font-weight: 100;
	text-decoration: none;
	color: $colorBlueLight;
	letter-spacing: 2px;
	padding-left: 20px;
}

.portfolioItems__devIcons {
	display: flex;
	list-style: none;
	padding-left: 0;
	padding: 5px 0 10px 0;
	li {
		font-size: 40px;
		padding-right: 15px;
		&:last-child {
			padding-right: 0;
		}
	}
}

.portfolioItems__text {
	padding: 20px;
	width: 100%;
	h2 {
		color: $colorBlueLight;
		font-weight: 300;
		font-size: 45px;
	}
	p {
		color: $colorBlueDark;
		padding: 10px 0 0 0;
	}
}



// Portfolio Item One
.portfolioItems__one {
	display: flex;
	position: relative;
}

.portfolioItems__one--image {
	width: 600px;
	text-align: left;
	position: relative;
	img {
		width: 900px;
		position: absolute;
		left: -320px;
		bottom: -220px;
	}
}

.portfolioItems__one--content {
	width: 50%;
	display: flex;
}



// Portfolio Item Two
.portfolioItems__two {
	display: flex;
	position: relative;
	margin-top: 400px;
}

.portfolioItems__two--image {
	width: 600px;
	text-align: left;
	position: relative;
	img {
		width: 600px;
		position: absolute;
		right: -200px;
		bottom: -90px;
	}
}

.portfolioItems__two--content {
	width: 50%;
	display: flex;
	align-items: center;
}

// Portfolio Item Three
.portfolioItems__three {
	display: flex;
	position: relative;
	margin-top: 400px;
}

.portfolioItems__three--image {
	width: 600px;
	text-align: left;
	position: relative;
	padding-right: 400px;
	img {
		width: 650px;
		position: absolute;
		left: -200px;
		bottom: -150px;
	}
}

.portfolioItems__three--content {
	width: 50%;
	display: flex;
}



	// Skill Set Section
.skillSet__section {
	background: $colorGreyDark;
	margin-top: 800px;
	@include angled-edge('outside top',
	 'upper right',
	 $colorGreyDark, 500);
	@include angled-edge('outside bottom',
	 'lower left',
	 $colorGreyDark, 500);
}

// .skillSet__section::before {
// 	background: url(../../assets/skillsection_skillword.png);
// 	overflow: hidden;
// }

.skillSet__header {
	text-align: center;
	margin-bottom: 80px;
	h2 {
		color: white;
		font-size: 75px;
		font-weight: 300;
	}
	h6 {
		letter-spacing: 3px;
		padding-bottom: 20px;
	}
}

.skillsSets__content {
	display: flex;
	flex-wrap: wrap;
}

.skillsSets__content h5 {
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
}

.skillSets__contentLanguages {
	width: 50%;
	padding: 0 50px;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.skillSets__contentTools {
	width: 50%;
	padding: 0 50px;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.skillsSets__content ul {
	padding-left: 0;
	li {
		list-style: none;
		margin: 20px 0;
	}
}

.skillsSets__content i {
	color: $colorGold;
	font-size: 80px;
	padding: 10px 30px;
}

.skillSets__contentTools--learning {
	margin-top: 60px;
}






	// Contact Section
.contactMain {
	background: url(../../assets/contact_background.png)$colorOffWhite;
	background-position: 50% 70%;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	padding-top: 300px;
	background-size: contain;
}
.contactHeader {
	padding-top: 200px;
	text-align: center;
	h4 {
		color: $colorBlueDark;
		font-weight: 100;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-size: 22px;
	}
}

.contactMain form {
	margin: 0 auto;
	margin-top: 50px;
	input, textarea {
		width: 100%;
		border: 1px solid #f0f0f0;
		padding: 10px;
		margin: 10px;
		font-family: $primaryFont;
		font-weight: 100;
	}
	input[type="submit"] {
		width: initial;
		padding: 10px 20px;
		background: $colorGold;
		letter-spacing: 3px;
	}
}

.contactForm__container {
	display: flex;
	padding: 0 120px;
}

.contactForm__container--inputs {
	width: 70%;
}

.contactForm__container--info {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	ul {
		padding-left: 0;
	}
}

.contactForm__container--info li {
	list-style: none;
	color: #9f9f9f;
	font-family: $primaryFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 0;
	&:nth-child(1):before {
		font-family: FontAwesome;
		content: "\f003";
		padding-right: 10px;
	}
	&:nth-child(2):before {
		font-family: FontAwesome;
		content: "\f041";
		padding-right: 10px;
	}
	&:nth-child(3):before {
		font-family: FontAwesome;
		content: "\f1ac";
		padding-right: 10px;
	}
	&:nth-child(4) {
		display: flex;
	}
}

.contactForm__container--info p {
	color: $colorBlueDark;
	padding: 6px 0;
	text-transform: none;
}

.socialLinks {
	color: $colorGold;
	padding: 10px;
	background: $colorBlueDark;
	margin-right: 10px;
}

.socialLinks i {
	font-size: 30px;
}






	// Footer
footer {
	background: $colorOffWhite;
	border-top: 1px solid #eaeaea;
}
footer p {
	color: #9f9f9f;
	padding: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	a {
		color: #9f9f9f;
	}
}










