@import "partials/_variables";
@import "partials/_setup";
@import "partials/_mixins";
@import "partials/_typography";
@import "partials/_angled-edges";
@import "partials/_animations";

body {
	overflow-x: hidden;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapperHeader {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.wrapperIntro {
	max-width: 1170px;
	margin: 0 auto;
	height: 150px;
}

.wrapperPortfolio {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapperSkills {
	max-width: 1170px;
	margin: 0 auto;
}

.wrapperContact {
	max-width: 1170px;
	margin: 0 auto;
}

header {
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	z-index: 1000;
}





.hamburgerMenu {
	margin-top: 7px;
	@include mq(small) {
		margin-top: 6px;
	}
	.fa {
		color: white;
		font-size: 20px;
		padding: 10px;
		float: right;
		@include mq(small) {
			padding: 6px;
		}
	}
}

.mainNavigation__logo--text {
	padding: 10px;
}

.hamburgerMenu__list {
	z-index: 1000;
	visibility: hidden;
	padding-left: 0;
	margin-top: 45px;
	li {
		list-style: none;
		color: white;
		font-family: $primaryFont;
		font-weight: 100;
		font-size: 12px;
		background: rgba(0, 0, 0, 0.8);
		padding: 5px 10px;
		margin: 5px 0;
		width: 150px;
		text-transform: uppercase;
		letter-spacing: 3px;

	}
	a {
		text-decoration: none;
		color: white;
	}
	a:hover {

	}
}

.disBtn {
	visibility: visible;
}

.firebaseIcon {
	width: 50px;
}

.firebaseIconYellow {
	width: 80px;
}


.mainNavigation {
	position: fixed;
	max-width: inherit;
	top: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	@include mq(large) {
		width: 100%;
		margin: 0 auto;
	}

}


.mainNavigation__logo--background {
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.9s ease;
}

.mainNavigation__logo {
	color: white;
	transition: all 0.9s ease;
	p {
		font-family: $primaryFont;
		font-weight: 100;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 3px;
		@include mq(medium) {
			font-size: 14px;
		}
	}
	span {
		font-weight: 700;
	}
	a {
		text-decoration: none;
		color: white;
	}
}

.mainNavigation__links {
	ul {
		display: flex;
		justify-content: flex-end;
		li {
			list-style: none;
			color: white;
			display: flex;
			padding-right: 50px;
			font-family: $primaryFont;
			font-weight: 100;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 3px;
			&:last-child {
				padding-right: 0;
			}
		}	
	}
}





// 	Hero Section

.heroSection {
	width: 100%;
	background: url(../../assets/HackeUGiddy-edited-small.jpg);
	background-size: contain;
	background-position: top left;
	background-repeat: no-repeat;
	@include mq(medium) {
		height: 47em;
	}
}

.heroSection__triangle {
	width: 100%;	
	@include mq(medium) {
		display: none;
	}
}

.st0{fill:#FFFFFF;}
.st1{fill:#EFEFEF;}
.st2{font-family:'Georgia-Bold';}
.st3{font-size:541.8076px;}
.st4{clip-path:url(#SVGID_2_);}
.st5{fill:#077793;}
.st6{fill:#0A6F87;}
.st7{fill-rule:evenodd;clip-rule:evenodd;fill:#0A6F87;}



.heroSection__snippetBio {
	visibility: hidden;
	color: red;
	position: absolute;
	width: 400px;
	top: 290px;
	right: 0px;
	z-index: 10;
	animation: fadein(2s);
	@include mq(large) {
		right: 30px;
		top: 6em;
		text-align: center;
	}
	@include mq(medium) {
		top: 8em;
		right: 0;
	}
	@include mq(small) {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 70%;
		top: 7em;
	}
	@include mq(xsmall) {
		width: 100%;
	}
	h1{
		span {
			color: white;
		}
		padding-bottom: 18px;
	}
	h5 {
		letter-spacing: 2px;
		@include mq(small) {
			padding: 5px 0;
		}
	}
}

.introductionText {
	visibility: hidden;
	position: absolute;
	text-align: center;
	color: white;
	z-index: 15;
	top: 47rem;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	@include mq(large) {
		background: rgba(0, 0, 0, 0.8);
		top: 23rem;
		padding: 35px 25px;
	}
	@include mq(medium) {
		width: 100%;
		background: #0C0D0F;
	}
	@include mq(small) {
		top: 18rem;
	}
	h5 {
		padding: 15px 0 5px 0;
		letter-spacing: 4px;
	}
	h6 {
		letter-spacing: 3px;
	}
	p {
		padding: 10px 0 40px 0;
		letter-spacing: 3px;
		line-height: 150%;
		@include mq(large) {
			padding-bottom: 20px;
		}
	}
	h3 {
		padding-top: 30px;
		@include mq(small) {
			padding-top: 10px;
		}
	}
	a {
		margin-top: 40px;
		text-decoration: none;
		color: $colorGold;
		@include mq(large) {
			display: none;
		}
	}
}

.introductionText__keyline {
	border-bottom: 1px solid white;
	width: 30px;
	margin: 0 auto;
	padding-top: 5px;
}

.line-arrow {
	overflow: hidden;
	display: inline-block;
	font-size: 12px;
	width: 4em;
	height: 4em;
	margin-top: -2em;
	top: 50%;
}

.line-arrow.down {
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	transform: rotate(-145deg) skew(-20deg);
}








// Portfolio Section

.portfolio__introText {
	z-index: 99;
	text-align: center;
	width: 600px;
	margin: 0 auto;

	@include mq(large) {
		bottom: 95px;
	}
	@include mq(medium) {
		width: 100%;
		bottom: 40px;
	}
	h2 {
		font-size: 80px;
		font-weight: 300;
		@include mq(medium) {
		font-size: 55px;
		}
	}
	h4 {
		font-weight: 100;
		letter-spacing: 4px;
		text-transform: uppercase;
		padding-bottom: 10px;
	}

}

// Universal Portfolio Elements
.portfolioItems {
	margin-top: 5rem;
}

.portfolio__keyline {
	border-bottom: 1px solid $colorBlueDark;
	width: 30px;
	margin: 0 auto;
	padding-top: 5px;
}

.portfolioItems__previewButton {
	background: $colorGold;
	color: $colorBlueDark;
	text-decoration: none;
	padding: 10px 20px;
	font-family: $primaryFont;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s ease-in;
}

.portfolioItems__previewButton:hover {
	background: $colorBlueLight;
	color: white;
}

.portfolioItems__github {
	font-family: $primaryFont;
	font-weight: 100;
	text-decoration: none;
	color: $colorBlueLight;
	letter-spacing: 2px;
	padding-left: 20px;
	@include mq(small) {
		display: block;
		padding-left: 0;
		margin-top: 20px;
	}
}

.portfolioItems__devIcons {
	display: flex;
	list-style: none;
	padding-left: 0;
	padding: 5px 0 10px 0;
	@include mq(large) {
		justify-content: center;
	}
	@include mq(small) {
		padding: 10px 0 15px 0;
	}
	li {
		font-size: 40px;
		padding-right: 15px;
		&:last-child {
			padding-right: 0;
		}
	}
}

.portfolioItems__text {
	padding: 20px;
	width: 100%;
	@include mq(large) {
		text-align: center;
	}
	h2 {
		color: $colorBlueLight;
		font-weight: 300;
		font-size: 45px;
		@include mq(small) {
			font-size: 30px;
		}
	}
	p {
		color: $colorBlueDark;
		padding: 10px 0 0 0;
		line-height: 1.5em;
	}
}



// Portfolio Item One
.portfolioItems__one {
	display: flex;
	position: relative;
	@include mq(large) {
		position: initial;
		flex-direction: column-reverse;
		justify-content: center;
		margin: 0 60px;
		padding: 35px;
	}
	@include mq(medium) {
		margin: 0 30px;
		padding: 15px;
	}
	@include mq(small) {
		margin: 0 10px;
		padding: 10px;
	}
}

.portfolioItems__one--image {
	width: 600px;
	text-align: left;
	position: relative;
	visibility: hidden;
	@include mq(large) {
		width: 100%;
		text-align: center;
	}
	img {
		width: 900px;
		position: absolute;
		left: -320px;
		bottom: -220px;
		@include mq(large) {
			width: 70%;
			position: relative;
			left: 0;
			bottom: 0;
		}
	}
}

.portfolioItems__one--content {
	width: 50%;
	display: flex;
	align-items: center;
	visibility: hidden;
	@include mq(large) {
		width: 100%;
		justify-content: center;
	}
}



// Portfolio Item Two
.portfolioItems__two {
	display: flex;
	position: relative;
	margin-top: 400px;
	@include mq(large) {
		position: initial;
		flex-direction: column;
		justify-content: center;
		margin: 40px 60px 0px 60px;
		padding: 35px;
		background: #eeeeee;
		margin: 10 0;
	}
	@include mq(medium) {
		margin: 20px 30px 0px 30px;
		padding: 15px;
	}
	@include mq(small) {
		margin: 20px 10px 0px 10px;
		padding: 10px;
	}

}

.portfolioItems__two--image {
	width: 600px;
	text-align: left;
	position: relative;
	visibility: hidden;
	@include mq(large) {
		width: 100%;
		text-align: center;
		margin: 40px 0;
	}
	img {
		width: 600px;
		position: absolute;
		right: -200px;
		bottom: -90px;
		@include mq(large) {
			width: 55%;
			position: relative;
			left: 0;
			bottom: 0;
		}
	}
}

.portfolioItems__two--content {
	width: 50%;
	display: flex;
	align-items: center;
	visibility: hidden;
	@include mq(large) {
		width: 100%;
		justify-content: center;
	}
}

// Portfolio Item Three
.portfolioItems__three {
	display: flex;
	position: relative;
	margin-top: 400px;
	visibility: hidden;
	@include mq(large) {
		background: #eeeeee;
		margin: 10 0;
		position: initial;
		flex-direction: column-reverse;
		justify-content: center;
		margin: 40px 60px 0px 60px;
		padding: 35px;
	}
	@include mq(medium) {
		margin: 20px 30px 0px 30px;
		padding: 15px;
	}
	@include mq(small) {
		margin: 20px 10px 0px 10px;
		padding: 10px;
	}

}

.portfolioItems__three--image {
	width: 600px;
	text-align: left;
	position: relative;
	padding-right: 400px;
	visibility: hidden;
	@include mq(large) {
		width: 100%;
		text-align: center;
		margin: 40px 0;
		padding-right: 0;
	}
	img {
		width: 650px;
		position: absolute;
		left: -200px;
		bottom: -150px;
		@include mq(large) {
			width: 60%;
			position: relative;
			left: 0;
			bottom: 0;
		}
	}
}

.portfolioItems__three--content {
	width: 50%;
	display: flex;
	@include mq(large) {
		width: 100%;
		justify-content: center;
	}
}


// Portfolio Item Two
.portfolioItems__four {
	display: flex;
	position: relative;
	margin-top: 400px;
	@include mq(large) {
		position: initial;
		flex-direction: column;
		justify-content: center;
		margin: 40px 60px 0px 60px;
		padding: 35px;
		background: #eeeeee;
		margin: 10 0;
	}
	@include mq(medium) {
		margin: 20px 30px 0px 30px;
		padding: 15px;
	}
	@include mq(small) {
		margin: 20px 10px 0px 10px;
		padding: 10px;
	}

}

.portfolioItems__four--image {
	width: 600px;
	text-align: left;
	position: relative;
	visibility: hidden;
	@include mq(large) {
		width: 100%;
		text-align: center;
		margin: 40px 0;
	}
	img {
		width: 600px;
		position: absolute;
		right: -153px;
		bottom: -34px;
		@include mq(large) {
			width: 55%;
			position: relative;
			left: 0;
			bottom: 0;
		}
	}
}

.portfolioItems__four--content {
	width: 50%;
	display: flex;
	align-items: center;
	visibility: hidden;
	@include mq(large) {
		width: 100%;
		justify-content: center;
	}
}



	// Skill Set Section
.skillSet__section {
	background: $colorGreyDark;
	margin-top: 800px;
	@include angled-edge('outside top',
	 'upper right',
	 $colorGreyDark, 500);
	@include angled-edge('outside bottom',
	 'lower left',
	 $colorGreyDark, 500);
	@include mq(large) {
		margin-top: 250px;
		@include angled-edge('outside top',
		 'upper right',
		 $colorGreyDark, 200);
		@include angled-edge('outside bottom',
		 'lower left',
		 $colorGreyDark, 200);
	}
	@include mq(small) {
		@include angled-edge('outside top',
		 'upper right',
		 $colorGreyDark, 100);
		@include angled-edge('outside bottom',
		 'lower left',
		 $colorGreyDark, 100);
	}
}

// .skillSet__section::before {
// 	background: url(../../assets/skillsection_skillword.png);
// 	overflow: hidden;
// }

.skillSet__header {
	text-align: center;
	margin-bottom: 80px;
	@include mq(large) {
		margin-bottom: 60px;
	}
	@include mq(small) {
		padding-top: 60px;
	}
	h2 {
		color: white;
		font-size: 75px;
		font-weight: 300;
	}
	h6 {
		letter-spacing: 3px;
		padding-bottom: 20px;
	}
}

.skillsSets__content {
	display: flex;
	flex-wrap: wrap;
	@include mq(large) {
		flex-direction: column;
	}
}

.skillsSets__content h5 {
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
}

.skillSets__contentLanguages {
	width: 50%;
	padding: 0 50px;
	@include mq(large) {
		width: 100%;
	}
	@include mq(small) {
		padding: 0;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.skillSets__contentTools {
	width: 50%;
	padding: 0 50px;
	@include mq(large) {
		width: 100%;
		margin-top: 60px;
	}
	@include mq(small) {
		padding: 0;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.skillsSets__content ul {
	padding-left: 0;
	li {
		list-style: none;
		margin: 20px 0;
	}
}

.skillsSets__content i {
	color: $colorGold;
	font-size: 80px;
	padding: 10px 30px;
}

.skillSets__contentTools--learning {
	margin-top: 60px;
}






	// Contact Section
.contactMain {
	background: url(../../assets/contact_background.png)$colorOffWhite;
	background-position: 50% 70%;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	padding-top: 300px;
	background-size: contain;
	@include mq(small) {
		padding-top: 150px;
	}
}
.contactHeader {
	padding-top: 200px;
	text-align: center;
	@include mq(large) {
		padding-top: 0;
	}
	h4 {
		color: $colorBlueDark;
		font-weight: 100;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-size: 22px;
	}
}

.contactMain form {
	margin: 0 auto;
	margin-top: 50px;
	input, textarea {
		width: 100%;
		border: 1px solid #c4c4c6;
		padding: 10px;
		margin: 10px;
		font-family: $primaryFont;
		font-weight: 100;
		@include mq(small) {
			width: 95%;
		}
	}
	input[type="submit"] {
		width: initial;
		padding: 10px 20px;
		background: $colorGold;
		letter-spacing: 3px;
		transition: all 0.3s ease-in;
		border: none;
	}
	input[type="submit"]:hover {
		background: $colorBlueLight;
		color: white;
	}
}

.contactForm__container {
	display: flex;
	padding: 0 120px;
	@include mq(large) {
		flex-direction: column;
	}
	@include mq(medium) {
		padding: 0 60px;
	}
	@include mq(small) {
		padding: 0 20px;
	}
}

.contactForm__container--inputs {
	width: 70%;
	@include mq(large) {
		width: 100%;
	}
}

.contactForm__container--info {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include mq(large) {
		width: 100%;
		align-items: center;
		text-align: center;
	}
	ul {
		padding-left: 0;
	}
}

.contactForm__container--info li {
	list-style: none;
	color: #9f9f9f;
	font-family: $primaryFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 0;
	&:nth-child(1):before {
		font-family: FontAwesome;
		content: "\f003";
		padding-right: 10px;
	}
	&:nth-child(2):before {
		font-family: FontAwesome;
		content: "\f041";
		padding-right: 10px;
	}
	&:nth-child(3):before {
		font-family: FontAwesome;
		content: "\f1ac";
		padding-right: 10px;
	}
	&:nth-child(4) {
		display: flex;
	}
}

.contactForm__container--info p {
	color: $colorBlueDark;
	padding: 6px 0;
	text-transform: none;
}

.socialLinks {
	color: $colorGold;
	padding: 10px;
	background: $colorBlueDark;
	margin-right: 10px;
	a {
		text-decoration: none;
		color: $colorGold;
		transition: all 0.9s ease;
	}
	a:hover {
		color: $colorBlueLight;
	}
}

.socialLinks i {
	font-size: 30px;
}






	// Footer
footer {
	background: $colorOffWhite;
	border-top: 1px solid #eaeaea;
}
footer p {
	color: #9f9f9f;
	padding: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	a {
		color: #9f9f9f;
	}
}















