article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 90px;
  color: #ffd667;
  line-height: 85%; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0; }

h2 {
  font-family: "Cormorant Garamond", serif;
  color: #25242e; }

h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  color: white;
  font-size: 46px; }

h4 {
  font-family: "Roboto", sans-serif; }

h5 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 100; }

h6 {
  font-family: "Roboto", sans-serif;
  color: #ffd667;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100; }

p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 300; }

body {
  overflow-x: hidden; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto; }

.wrapperHeader {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.wrapperIntro {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.wrapperPortfolio {
  max-width: 1170px;
  margin: 0 auto; }

.wrapperSkills {
  max-width: 1170px;
  margin: 0 auto; }

.wrapperContact {
  max-width: 1170px;
  margin: 0 auto; }

.mainNavigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 1170px; }

.mainNavigation__logo {
  color: white; }
  .mainNavigation__logo p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .mainNavigation__logo span {
    font-weight: 700; }

.mainNavigation__links ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  .mainNavigation__links ul li {
    list-style: none;
    color: white;
    display: -ms-flexbox;
    display: flex;
    padding-right: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px; }
    .mainNavigation__links ul li:last-child {
      padding-right: 0; }

.heroSection {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 59%);
  clip-path: polygon(0 0, 100% 0%, 100% 92%, 0 59%);
  height: 1800px;
  background: linear-gradient(to bottom right, rgba(7, 119, 147, 0.9), rgba(7, 119, 147, 0.9)), url("../../assets/mockup-863469_1280.jpg");
  background-size: cover;
  background-position: bottom right; }

.heroSection__top {
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 59%);
  clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 59%);
  position: relative;
  background: linear-gradient(to bottom right, rgba(7, 89, 147, 0), rgba(37, 36, 46, 0)), url("../../assets/HackeUGiddy.jpg");
  background-size: contain;
  background-position: top; }

.heroSection__snippetBio {
  color: red;
  position: absolute;
  width: 400px;
  top: 335px;
  right: 0px;
  z-index: 10; }
  .heroSection__snippetBio h1 {
    padding-bottom: 18px; }
    .heroSection__snippetBio h1 span {
      color: white; }
  .heroSection__snippetBio h5 {
    letter-spacing: 2px; }

.introductionText {
  position: relative;
  text-align: center;
  color: white;
  z-index: 15;
  bottom: 940px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  .introductionText h5 {
    padding: 15px 0 5px 0;
    letter-spacing: 4px; }
  .introductionText h6 {
    letter-spacing: 3px; }
  .introductionText p {
    padding: 10px 0 40px 0;
    letter-spacing: 3px;
    line-height: 150%; }
  .introductionText h3 {
    padding-top: 30px; }
  .introductionText a {
    margin-top: 40px; }

.introductionText__keyline {
  border-bottom: 1px solid white;
  width: 30px;
  margin: 0 auto;
  padding-top: 5px; }

.line-arrow {
  overflow: hidden;
  display: inline-block;
  font-size: 12px;
  width: 4em;
  height: 4em;
  margin-top: -2em;
  top: 50%; }

.line-arrow.down {
  border-top: 1px solid #a9a9a9;
  border-left: 1px solid #a9a9a9;
  transform: rotate(-145deg) skew(-20deg); }

.portfolio__introText {
  z-index: 99;
  width: 400px;
  text-align: center;
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 200px; }
  .portfolio__introText h2 {
    font-size: 80px;
    font-weight: 300; }
  .portfolio__introText h4 {
    font-weight: 100;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 10px; }

.portfolio__keyline {
  border-bottom: 1px solid #25242e;
  width: 30px;
  margin: 0 auto;
  padding-top: 5px; }

.portfolioItems__previewButton {
  background: #ffd667;
  color: #25242e;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px; }

.portfolioItems__github {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #077793;
  letter-spacing: 2px;
  padding-left: 20px; }

.portfolioItems__devIcons {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  padding: 5px 0 10px 0; }
  .portfolioItems__devIcons li {
    font-size: 40px;
    padding-right: 15px; }
    .portfolioItems__devIcons li:last-child {
      padding-right: 0; }

.portfolioItems__text {
  padding: 20px;
  width: 100%; }
  .portfolioItems__text h2 {
    color: #077793;
    font-weight: 300;
    font-size: 45px; }
  .portfolioItems__text p {
    color: #25242e;
    padding: 10px 0 0 0; }

.portfolioItems__one {
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.portfolioItems__one--image {
  width: 600px;
  text-align: left;
  position: relative; }
  .portfolioItems__one--image img {
    width: 900px;
    position: absolute;
    left: -320px;
    bottom: -220px; }

.portfolioItems__one--content {
  width: 50%;
  display: -ms-flexbox;
  display: flex; }

.portfolioItems__two {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 400px; }

.portfolioItems__two--image {
  width: 600px;
  text-align: left;
  position: relative; }
  .portfolioItems__two--image img {
    width: 600px;
    position: absolute;
    right: -200px;
    bottom: -90px; }

.portfolioItems__two--content {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.portfolioItems__three {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 400px; }

.portfolioItems__three--image {
  width: 600px;
  text-align: left;
  position: relative;
  padding-right: 400px; }
  .portfolioItems__three--image img {
    width: 650px;
    position: absolute;
    left: -200px;
    bottom: -150px; }

.portfolioItems__three--content {
  width: 50%;
  display: -ms-flexbox;
  display: flex; }

.skillSet__section {
  background: #16191b;
  margin-top: 800px;
  position: relative;
  position: relative; }
  .skillSet__section::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 500' fill='rgb(22,25,27)' fill-opacity='1'%3E%3Cpolygon points='0,500 100,500 0,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 500px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    top: -500px; }
  .skillSet__section::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 500' fill='rgb(22,25,27)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,500 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 500px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;
    bottom: -500px; }

.skillSet__header {
  text-align: center;
  margin-bottom: 80px; }
  .skillSet__header h2 {
    color: white;
    font-size: 75px;
    font-weight: 300; }
  .skillSet__header h6 {
    letter-spacing: 3px;
    padding-bottom: 20px; }

.skillsSets__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.skillsSets__content h5 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 20px; }

.skillSets__contentLanguages {
  width: 50%;
  padding: 0 50px; }
  .skillSets__contentLanguages ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center; }

.skillSets__contentTools {
  width: 50%;
  padding: 0 50px; }
  .skillSets__contentTools ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center; }

.skillsSets__content ul {
  padding-left: 0; }
  .skillsSets__content ul li {
    list-style: none;
    margin: 20px 0; }

.skillsSets__content i {
  color: #ffd667;
  font-size: 80px;
  padding: 10px 30px; }

.skillSets__contentTools--learning {
  margin-top: 60px; }

.contactMain {
  background: url(../../assets/contact_background.png) #fafafa;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  padding-top: 300px;
  background-size: contain; }

.contactHeader {
  padding-top: 200px;
  text-align: center; }
  .contactHeader h4 {
    color: #25242e;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 22px; }

.contactMain form {
  margin: 0 auto;
  margin-top: 50px; }
  .contactMain form input, .contactMain form textarea {
    width: 100%;
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 100; }
  .contactMain form input[type="submit"] {
    width: initial;
    padding: 10px 20px;
    background: #ffd667;
    letter-spacing: 3px; }

.contactForm__container {
  display: -ms-flexbox;
  display: flex;
  padding: 0 120px; }

.contactForm__container--inputs {
  width: 70%; }

.contactForm__container--info {
  width: 30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  .contactForm__container--info ul {
    padding-left: 0; }

.contactForm__container--info li {
  list-style: none;
  color: #9f9f9f;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 0; }
  .contactForm__container--info li:nth-child(1):before {
    font-family: FontAwesome;
    content: "\f003";
    padding-right: 10px; }
  .contactForm__container--info li:nth-child(2):before {
    font-family: FontAwesome;
    content: "\f041";
    padding-right: 10px; }
  .contactForm__container--info li:nth-child(3):before {
    font-family: FontAwesome;
    content: "\f1ac";
    padding-right: 10px; }
  .contactForm__container--info li:nth-child(4) {
    display: -ms-flexbox;
    display: flex; }

.contactForm__container--info p {
  color: #25242e;
  padding: 6px 0;
  text-transform: none; }

.socialLinks {
  color: #ffd667;
  padding: 10px;
  background: #25242e;
  margin-right: 10px; }

.socialLinks i {
  font-size: 30px; }

footer {
  background: #fafafa;
  border-top: 1px solid #eaeaea; }

footer p {
  color: #9f9f9f;
  padding: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px; }
  footer p a {
    color: #9f9f9f; }
